body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h3 {
  width: 100vw;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  overflow: hidden;
}

.article_container {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}
.article_card {
  width: 64vw;
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.5s;
  border: 2px solid black;
}

.card1 {
  margin-left: 10rem;
  margin-bottom: 5px;

  transform: rotate(-2deg);
}
.card1:hover {
  transform: rotate(2deg);
  background: purple;
  border: 1px solid purple;
}
.card2 {
  transform: rotate(0.1deg);
}
.card2:hover {
  transform: rotate(-2deg);
  background: tomato;
  border: 1px solid tomato;
}
.card3 {
  width: 60vw;
  transform: rotate(-1deg);
}
.card3:hover {
  transform: rotate(2deg);
  background: darkcyan;
  border: 1px solid darkcyan;
}
.card4 {
  margin-left: 5rem;
  width: 70vw;
  height: 120px;
  transform: rotate(-1deg);
}
.card4:hover {
  transform: rotate(2deg);
  background: skyblue;
  border: 1px solid skyblue;
}
.card5 {
  margin-left: 5rem;
  transform: rotate(2deg);
}
.card5:hover {
  transform: rotate(-1deg);
  background: firebrick;
  border: 1px solid firebrick;
}
.card6 {
  height: 120px;
  transform: rotate(2deg);
  transition: ease-in-out 0.6s;
}
.card6:hover {
  background: #000;
  color: #fafafa;
}

.article_author {
  text-align: center;
  transform: rotate(270deg);
  font-size: 20px;
}
.article_title {
  width: 60vw;
  height: 100%;
  font-size: 30px;
  /* padding: 0 20px; */
  margin: 0 15px;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.article_card:hover .article_title {
  text-decoration: underline;
  color: #fafafa;
}
.article_card:hover .artile_year {
  color: #fafafa;
}
.article_card:hover .article_author {
  color: #fafafa;
}
.article_card:hover .article_title {
  border-right: 2px solid #fafafa;
}
.article_icon {
  padding: 0 10px;
  width: 130px;
  height: 72px;
}
.article_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.artile_year {
  width: 80px;
  height: 70px;
  transform: rotate(270deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
